@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/globals.css";
@import "./styles/auth.css";
@import "./styles/habits.css";
@import "./styles/profile.css";

body {
  @apply bg-gray-50 text-gray-800 font-sans;
}
